html {
  scroll-behavior: smooth;
}

.header__icon-list
.header__link-list
.contents
li:last-child
.bold.link-faded-reverse {
  height: 30px;
  width: 49px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopify-section .header .header__wrapper {
    padding: 10px 48px;
  }

 .shopify-section .announcement-bar {
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
  }
  @media(max-width:520px){
   .section  .collection-banner .hero--banner--text{
        font-size: 26px;
    }
  }


/* cart drawer */
.drawer::part(content){
  border-radius: unset !important;
  clip-path: none !important;
}

/* the below css is for mobile menu */
.panel__wrapper .panel__scroller .v-stack .group.block.w-full.fit--btn{
  max-width: fit-content;
  padding: 5px 15px;
}

/* form button adjustements */
.contact-form form .button-width {
  width: 100%;
}
.contact-form form .button-width .button {
  width: 100%;
}