html {
  scroll-behavior: smooth;
}

.header__icon-list
.header__link-list
.contents
li:last-child
.bold.link-faded-reverse {
  height: 30px;
  width: 49px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopify-section .header .header__wrapper {
    padding: 10px 48px;
  }

 .shopify-section .announcement-bar {
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
  }
  @media(max-width:520px){
   .section  .collection-banner .hero--banner--text{
        font-size: 26px;
    }
  }


/* cart drawer */
.drawer::part(content){
  border-radius: unset !important;
  clip-path: inset(0px round 0px);
}

/* the below css is for mobile menu */
.panel__wrapper .panel__scroller .v-stack .group.block.w-full.fit--btn{
  max-width: fit-content;
  padding: 5px 15px;
}

/* form button adjustements */
.contact-form form .button-width {
  width: 100%;
}
.contact-form form .button-width .button {
  width: 100%;
}

/* the section is set hero image banner at mobile collection page */

@media(max-width:699px){
 .set--content--main .content-over-media > :is(img, video, iframe, svg, video-media) {
    height: var(--set--content-height, auto);
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    overflow-wrap: anywhere;
    object-fit: cover;
    object-position: center;
    transform-origin: bottom;
    border-radius: inherit;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    grid-area: 1 / 1 / span 3 / span 3;
    position: relative;
  }
  
 .set--content--main .content-over-media > :is(img, video, iframe, svg, video-media) > * {
    border-radius: inherit;
  }
  .set--content--sm {
    --set--content-height: 375px;
  }
  
   .set--content--md {
    --set--content-height: 480px;
  }
  
   .set--content--lg {
    ---set--content-height: 560px;
  }
 
  .set--content--auto{
    ---set--content-height: unset;
  }
}

/* multicolum.liquid css for adjusting imageis  */
.multi-column.scroll-area .aligning--items--format{
  display: grid !important;
}
.multi-column.scroll-area .aligning--items--format img{
  margin: 0 auto;
}
